<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="adminHits">
	SELECT TODAYHITS
	FROM HITS
	WHERE YRARSELECT = ?
	AND   MONTHSELECT = ?
	</entry>
	
	<entry key="adminHitsUpdate">
	UPDATE HITS
	SET TODAYHITS = TODAYHITS+ ?
	,MONTHHITS = MONTHHITS+ ?
	WHERE YRARSELECT = '2024년'
	AND MONTHSELECT = '5월'
	</entry>

	
	<entry key="adminMonthHitsView">
	SELECT MONTHHITS
	FROM HITS
	WHERE YRARSELECT = ?
	AND   MONTHSELECT = ?
	</entry>
	
	<entry key="HitsYearSelectAll">
	
	SELECT MONTHSELECT ,MONTHHITS
	FROM HITS
	WHERE YRARSELECT = ?
	
	</entry>

	<entry key="suspend">
	
	UPDATE MEMBERINFO
	SET STATUS = 'N'
	WHERE USERID = ?
	
	
	</entry>
	
	<entry key="unsuspend">
	
	UPDATE MEMBERINFO
	SET STATUS = 'Y'
	WHERE USERID = ?
	
	
	</entry>
	
	<entry key="UserInfoList">
	
	SELECT USERID, USERNAME, USEREMAIL,JOINDATE, POINT
	FROM MEMBERINFO
	WHERE USERID = ?
	
	
	</entry>
	
	
	
	<entry key="CouponCreate">
	
	UPDATE MEMBERINFO
	SET POINT = POINT-500
	WHERE USERID = ?
	
	</entry>

	
</properties>