<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectList">
		SELECT * FROM(
			SELECT ROWNUM,S.* FROM(
				SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
				FROM BOARD B 
				JOIN CATEGORY_BRD USING(CATEGORYNO) 
				WHERE B.STATUS='Y') S
				)
				WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>
	<entry key="listCount">
		SELECT COUNT(*) COUNT FROM BOARD WHERE STATUS='Y'
	</entry>
	<entry key="increaseCount">
		UPDATE BOARD SET COUNT=COUNT+1 WHERE BOARDNO=? AND STATUS='Y'
	</entry>
	<entry key="selectCategoryList">
		SELECT * FROM CATEGORY_BRD
	</entry>
	<entry key="selectBoard">
		SELECT * FROM BOARD WHERE BOARDNO=? AND STATUS='Y'
	</entry>
	<entry key="selectAttachment">
		SELECT * FROM ATTACHMENT WHERE BOARDNO=? AND STATUS='Y'
	</entry>
	<entry key="selectListById">
		SELECT * FROM(
			SELECT ROWNUM,S.* FROM(
				SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
				FROM BOARD B 
				JOIN CATEGORY_BRD USING(CATEGORYNO) 
				WHERE USERID=?
				AND B.STATUS='Y') S
			)
			WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>
	<entry key="selectListByCategory">
		SELECT * FROM(
			SELECT ROWNUM,S.* FROM(
				SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
				FROM BOARD B 
				JOIN CATEGORY_BRD USING(CATEGORYNO) 
				WHERE B.STATUS='Y') S
			)
			WHERE "ROWNUM" BETWEEN ? AND ?
			AND CATEGORYNAME=?
	</entry>
	<entry key="newPopList">
		SELECT * FROM(
			SELECT ROWNUM,BOARDNO,TITLE,CATEGORYNAME FROM(
				SELECT *
				FROM BOARD B
				JOIN CATEGORY_BRD USING (CATEGORYNO)
				WHERE B.STATUS='Y'
				ORDER BY CREATEDATE DESC)
				)
				WHERE "ROWNUM" BETWEEN 1 AND 5
				AND CATEGORYNAME=?
		
	</entry>
	<entry key="bestPopList">
		SELECT * FROM(
			SELECT ROWNUM,BOARDNO,TITLE,CATEGORYNAME FROM(
				SELECT *
				FROM BOARD B
				JOIN CATEGORY_BRD USING (CATEGORYNO)
				WHERE B.STATUS='Y'
				ORDER BY BOARDLIKE DESC)
				)
				WHERE "ROWNUM" BETWEEN 1 AND 5
				AND CATEGORYNAME=?
		
	</entry>
	<entry key="bestContList">
		SELECT * FROM (
			SELECT ROWNUM,
				CONTENTSID,
				TITLE,
				POSTERPATH,
				RATE
			FROM (
				SELECT * 
				FROM CONTENTS C
				ORDER BY RATE DESC
				)	
			)
		WHERE "ROWNUM" BETWEEN 1 AND 5
	</entry>
	<entry key="deleteBoard">
		UPDATE BOARD SET STATUS='N'
		WHERE BOARDNO=?
	</entry>
	<entry key="selectNoticeListByCategory">
		SELECT * FROM(
			SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
			FROM BOARD B 
			JOIN CATEGORY_BRD USING(CATEGORYNO) 
			WHERE B.STATUS='Y'
			AND USERID='admin'
			ORDER BY CREATEDATE
			)
		WHERE ROWNUM BETWEEN 1 AND 5
	</entry>
    <entry key="searchByKeyword">
		SELECT TITLE, BOARDCONTENT, USERID, CREATEDATE
		FROM BOARD
		WHERE TITLE LIKE ? OR BOARDCONTENT LIKE ?
    </entry>
	<entry key="insertBoard">
		INSERT INTO BOARD(BOARDNO,USERID,CATEGORYNO,TITLE,BOARDCONTENT) 
					VALUES(SEQ_COMMUNITY.NEXTVAL,?,?,?,?)
	</entry>
	<entry key="insertReply">
		INSERT INTO REPLY(REPLYNO,USERID,REPLYCONTENT,BOARDNO)
					VALUES(SEQ_REPLY.NEXTVAL,?,?,?)
	</entry>
	<entry key="replyList">
		SELECT REPLYNO,USERID,REPLYCONTENT,CREATEDATE FROM REPLY WHERE BOARDNO=?
	</entry>
</properties>