<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="sendMessage">
	INSERT INTO MESSAGE VALUES(SEQ_MMNO.NEXTVAL,?,?,?,SYSDATE,'N')
</entry>
<entry key="selectSendMessage">
SELECT * 
FROM (
	SELECT ROWNUM RNUM,S.* 
	FROM (SELECT*FROM MESSAGE WHERE SENDNAME=?
	ORDER BY MNO DESC) S)
	WHERE RNUM BETWEEN ? AND ?
	
	
</entry>
<entry key="selectReceiveMessage">
SELECT * 
FROM (
	SELECT ROWNUM RNUM,S.* 
	FROM (SELECT*FROM MESSAGE WHERE RECEIVENAME=?
	ORDER BY MNO DESC) S)
	WHERE RNUM BETWEEN ? AND ?
</entry>
<entry key="updateReadCheck">
	UPDATE MESSAGE SET READ_CHECK = 'Y' 
	WHERE MNO=?
	AND RECEIVENAME=?
	AND READ_CHECK='N'
</entry>
<entry key="selectNewMessage">
SELECT * 
FROM (
	SELECT ROWNUM RNUM,S.* 
	FROM (SELECT*
		  FROM MESSAGE 
		  WHERE RECEIVENAME=?
		  AND READ_CHECK='N'
		  ORDER BY MNO DESC) S)
	WHERE RNUM BETWEEN ? AND ?			
</entry>
<entry key="newMessageCount">
	SELECT COUNT(*) COUNT
	FROM MESSAGE 
	WHERE RECEIVENAME=? AND READ_CHECK='N'
</entry>
<entry key="selectMessageByMNo">
	SELECT * FROM MESSAGE WHERE MNO=?
</entry>
<entry key="sendMessageCount">
	SELECT COUNT(*) COUNT
	FROM MESSAGE 
	WHERE SENDNAME=?
</entry>
<entry key="receiveMessageCount">
	SELECT COUNT(*) COUNT
	FROM MESSAGE 
	WHERE RECEIVENAME=?
</entry>


</properties>