<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertUser">

		INSERT INTO MEMBERINFO(USERID
		,USERPWD
		,USERNAME
		,USEREMAIL
		,USERBIRTH
		,USERGENDER)VALUES(?
		,?
		,?
		,?
		,?
		,?)


	</entry>

	<entry key="loginUser">

		SELECT USERID,USERNAME,USERPWD,USERGENDER,USERBIRTH,USEREMAIL,JOINDATE,POINT
		FROM MEMBERINFO
		WHERE USERID =?
		AND USERPWD =?
	</entry>

	<entry key="checkId">
		SELECT *
		FROM MEMBERINFO
		WHERE USERID=?
	</entry>
	<entry key="updateUser">
		UPDATE MEMBERINFO
		SET USERNAME=?
		,USERGENDER=?
		,USEREMAIL=?
		WHERE USERID=?
	</entry>
	<entry key="selectUser">
		SELECT *FROM MEMBERINFO
		WHERE USERID=?
	</entry>

	<entry key="updatePwd">
		UPDATE MEMBERINFO
		SET USERPWD = ?
		WHERE USERID = ?
		AND
		USERPWD = ?
	</entry>

	<entry key="deleteUser">
		DELETE FROM MEMBERINFO
		WHERE USERID=?
	</entry>

	<entry key="myBoardListCount">
		SELECT COUNT(*) COUNT
		FROM BOARD
		WHERE USERID=?
	</entry>

	<entry key="myBoardSelectList">
		SELECT * FROM(
		SELECT ROWNUM,S.* FROM(
		SELECT BOARDNO,
		CATEGORYNAME,
		TITLE,
		USERID,
		CREATEDATE,
		BOARDLIKE,
		COUNT
		FROM BOARD B
		JOIN CATEGORY_BRD USING(CATEGORYNO)
		WHERE B.STATUS='Y'
		AND USERID=?
		order by boardno desc) S)
		WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>
	<entry key="myReplyListCount">
		SELECT COUNT(*) COUNT
		FROM REPLY
		WHERE USERID=?
	</entry>
	<entry key="myReplySelectList">
		SELECT *
		FROM (
		SELECT ROWNUM RNUM,S.*
		FROM (SELECT REPLYNO
		,USERID
		,REPLYCONTENT
		,CREATEDATE
		,BOARDNO
		FROM REPLY R
		WHERE USERID = ?
		ORDER BY REPLYNO DESC) S)
		WHERE RNUM BETWEEN ? AND ?
	</entry>

	<entry key="findId">
		SELECT USERID,USERNAME,USEREMAIL FROM MEMBERINFO
		WHERE
		USERNAME =?
		AND USEREMAIL=?


	</entry>

	<entry key="findPwd">
		SELECT USERID, USERNAME, USEREMAIL, USERPWD, STATUS FROM MEMBERINFO
		WHERE USERID= ?
		AND STATUS='Y' AND
		USERNAME=?
		AND USEREMAIL= ?

	</entry>

	<entry key="selectListById">
		SELECT * FROM(
		SELECT ROWNUM,S.* FROM(
		SELECT BOARDNO,
		USERID,
		CATEGORYNAME,
		TITLE,
		CREATEDATE,
		BOARDLIKE,
		COUNT
		FROM BOARD B
		JOIN CATEGORY_BRD USING(CATEGORYNO)
		WHERE USERID=?
		AND B.STATUS='Y'
		order by boardno desc) S
		)
		WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>


	<entry key="recomCheck">
	UPDATE MEMBERINFO
	SET POINT = POINT+100
	WHERE USERID = ?
	</entry>

	<entry key="PointCheck">
	UPDATE MEMBERINFO
	SET POINT = POINT+50
	WHERE USERID = ?
	</entry>
	
	<entry key="replyPoint">
	UPDATE MEMBERINFO
	SET POINT = POINT+10
	WHERE USERID = ?
	</entry>
	<entry key="getUserPoint">
	SELECT POINT FROM MEMBERINFO WHERE USERID =?
	</entry>





</properties>