@charset "UTF-8";

/* 전체 컨테이너 설정 */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

/* 영화 상세 정보 컨테이너 */
.movie-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0; 
    padding: 0; 
}

/* 영화 항목 스타일 */
.movie-item {
    background-color: #fff; /* 배경색은 흰색 */
    border-radius: 8px; /* 모서리는 둥글게 */
    border: none; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* 그림자 효과 */
    margin: 10px; 
    padding: 15px; 
    width: 280px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 애니메이션 효과 */
}

/* 영화 항목 호버 시 스타일 */
.movie-item:hover {
    transform: translateY(-5px); /* 위로 5px 이동 */
    box-shadow: 0 4px 20px rgba(0,0,0,0.2); /* 그림자 강조 */
}

/* 영화 포스터 이미지 스타일 */
.movie-poster {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px 8px 0 0;
    border-bottom: 4px solid #ddd;
}

/* 영화 정보 텍스트 영역 */
.movie-info h3, .movie-info p {
    margin: 10px 0;
}

.movie-info h3 {
    font-size: 1.6em;
    color: #333;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.movie-info small {
    font-size: 0.8em;
    color: #888;
}

/* 영화 개요 설명 텍스트 */
.overview {
    font-size: 0.9em; 
    line-height: 1.4;
    color: #666;
    text-align: justify;
}

/* 상영 시간 및 감독 정보 스타일 */
.runtime, .director {
    font-size: 0.9em;
    font-weight: bold;
    color: #444;
}

.runtime {
    margin-bottom: 5px;
}

/* 페이지 레이아웃 및 테이블 스타일 */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px; 
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    margin-bottom: 0;
}
