<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectList">
		SELECT * FROM(
			SELECT ROWNUM,S.* FROM(
				SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
				FROM BOARD B 
				JOIN CATEGORY_BRD USING(CATEGORYNO) 
				WHERE B.STATUS='Y') S
				)
				WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>
	<entry key="listCount">
		SELECT COUNT(*) COUNT FROM(
		SELECT * FROM BOARD
		JOIN CATEGORY_BRD USING(CATEGORYNO) 
		)
		WHERE STATUS='Y' AND CATEGORYNAME=?
	</entry>
	<entry key="increaseCount">
		UPDATE BOARD SET COUNT=COUNT+1 WHERE BOARDNO=? AND STATUS='Y'
	</entry>
	<entry key="selectCategoryList">
		SELECT * FROM CATEGORY_BRD
	</entry>
	<entry key="selectBoard">
		SELECT * FROM BOARD JOIN CATEGORY_BRD USING(CATEGORYNO) WHERE BOARDNO=? AND STATUS='Y'
	</entry>
	<entry key="selectAttachment">
		SELECT * FROM ATTACHMENT WHERE BOARDNO=? AND STATUS='Y'
	</entry>
		<entry key="selectBoardNo">
		SELECT SEQ_COMMUNITY.NEXTVAL BNO FROM DUAL
	</entry>
	<entry key="selectListById">
		SELECT * FROM(
			SELECT ROWNUM,S.* FROM(
				SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
				FROM BOARD B 
				JOIN CATEGORY_BRD USING(CATEGORYNO) 
				WHERE B.STATUS='Y'
				AND USERID=?
				ORDER BY CREATEDATE DESC
				) S
			)
			WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>
	<entry key="selectListByCategory">
		SELECT * FROM(
			SELECT ROWNUM,S.* FROM(
				SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					BOARDCONTENT,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
				FROM BOARD B 
				JOIN CATEGORY_BRD USING(CATEGORYNO) 
				WHERE B.STATUS='Y'
				AND CATEGORYNAME=?
				ORDER BY CREATEDATE DESC
				) S
			)
			WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>
	<entry key="newPopList">
		SELECT * FROM(
			SELECT ROWNUM,BOARDNO,TITLE,BOARDCONTENT,CATEGORYNAME FROM(
				SELECT *
				FROM BOARD B
				JOIN CATEGORY_BRD USING (CATEGORYNO)
				WHERE B.STATUS='Y'
				AND CATEGORYNAME=?
				ORDER BY CREATEDATE DESC)
				)
				WHERE "ROWNUM" BETWEEN 1 AND 5
		
	</entry>
	<entry key="bestPopList">
		SELECT * FROM(
			SELECT ROWNUM,BOARDNO,TITLE,BOARDCONTENT,CATEGORYNAME,BOARDLIKE FROM(
				SELECT *
				FROM BOARD B
				JOIN CATEGORY_BRD USING (CATEGORYNO)
				WHERE B.STATUS='Y'
				AND CATEGORYNAME=?
				ORDER BY BOARDLIKE DESC)
				)
				WHERE "ROWNUM" BETWEEN 1 AND 5
		
	</entry>
	<entry key="bestContList">
		SELECT * FROM (
			SELECT ROWNUM,
				CONTENTSID,
				TITLE,
				POSTERPATH,
				RATE
			FROM (
				SELECT * 
				FROM CONTENTS C
				ORDER BY RATE DESC
				)	
			)
		WHERE "ROWNUM" BETWEEN 1 AND 3
	</entry>
	<entry key="deleteBoard">
		UPDATE BOARD SET STATUS='N'
		WHERE BOARDNO=?
	</entry>
	<entry key="selectNoticeListByCategory">
		SELECT * FROM(
			SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
			FROM BOARD B 
			JOIN CATEGORY_BRD USING(CATEGORYNO) 
			WHERE B.STATUS='Y'
			AND CATEGORYNAME='공지'
			ORDER BY CREATEDATE
			)
		WHERE ROWNUM BETWEEN 1 AND 5
	</entry>
    <entry key="searchByKeyword">
		SELECT TITLE, BOARDCONTENT, USERID, CREATEDATE
		FROM BOARD
		WHERE TITLE LIKE ? OR BOARDCONTENT LIKE ?
    </entry>
	<entry key="insertBoard">
		INSERT INTO BOARD(BOARDNO,USERID,CATEGORYNO,TITLE,BOARDCONTENT,CONTENTSID) 
					VALUES(?,?,?,?,?,?)
	</entry>
	<entry key="insertReply">
		INSERT INTO REPLY(REPLYNO,USERID,REPLYCONTENT,BOARDNO)
					VALUES(SEQ_REPLY.NEXTVAL,?,?,?)
	</entry>
	<entry key="replyList">
		SELECT REPLYNO,USERID,REPLYCONTENT,CREATEDATE FROM REPLY WHERE BOARDNO=?
	</entry>
	<entry key="searchContentByTitle">
		SELECT CONTENTSID, TITLE FROM CONTENTS WHERE TITLE LIKE ?
	</entry>
	<entry key="updateBoard">
		UPDATE BOARD SET
					TITLE=?
					, BOARDCONTENT=?
					, UPDATEDATE=SYSDATE
					WHERE BOARDNO=?
					AND STATUS='Y'
	</entry>
	<entry key="likeCheck">
		SELECT COUNT(*) COUNT FROM BOARDLIKE WHERE BOARDNO=? AND USERID=?
	</entry>
	<entry key="scrabCheck">
		SELECT COUNT(*) COUNT FROM scrab WHERE BOARDNO=? AND USERID=?
	</entry>
	<entry key="deleteLike">
		DELETE BOARDLIKE WHERE BOARDNO=? AND USERID=?
	</entry>
	<entry key="deleteScrab">
		DELETE SCRAB WHERE BOARDNO=? AND USERID=?
	</entry>
	<entry key="insertLike">
		INSERT INTO BOARDLIKE VALUES(?,?,SYSDATE)
	</entry>
	<entry key="insertScrab">
		INSERT INTO SCRAB VALUES(?,?,'N')
	</entry>
	<entry key="countLike">
		SELECT COUNT(*) COUNT FROM BOARDLIKE WHERE BOARDNO=?
	</entry>
	<entry key="updateBoardLike">
		UPDATE BOARD SET
					BOARDLIKE=?
					WHERE BOARDNO=?
	</entry>
	<entry key="updateScrab">
		UPDATE SCRAB SET
					STATUS='Y'
					WHERE SCRABNO=?
	</entry>
	<entry key="selectListByLike">
		SELECT * FROM(
			SELECT ROWNUM,S.* FROM(
				SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					BOARDCONTENT,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
				FROM BOARD B 
				JOIN CATEGORY_BRD USING(CATEGORYNO) 
				WHERE B.STATUS='Y'
				AND B.BOARDLIKE<![CDATA[>=5]]>
				) S
			)
			WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>
	<entry key="insertAttachment">
		INSERT INTO ATTACHMENT(ATNO,BOARDNO,ORIGINNAME,CHANGENAME,ATFILEPATH,CATEGORYNO,STATUS)
						VALUES(SEQ_ATTACHMENT.NEXTVAL,?,?,?,?,?,'Y')
	</entry>
	<entry key="updateAttachment">
			UPDATE ATTACHMENT SET ORIGINNAME=?, CHANGENAME=?,ATFILEPATH=?,ATUPLOADDATE=SYSDATE WHERE ATNO=? AND STATUS='Y'
	</entry>
</properties>