<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectList">
		SELECT * FROM(
			SELECT ROWNUM,S.* FROM(
				SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
				FROM BOARD B 
				JOIN CATEGORY USING(CATEGORYNO) 
				WHERE B.STATUS='Y') S
				)
				WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>
	<entry key="listCount">
		SELECT COUNT(*) COUNT FROM BOARD WHERE STATUS='Y'
	</entry>
	<entry key="increaseCount">
		UPDATE BOARD SET COUNT=COUNT+1 WHERE BOARDNO=? AND STATUS='Y'
	</entry>
	<entry key="selectCategoryList">
		SELECT * FROM CATEGORY
	</entry>
	<entry key="selectBoard">
		SELECT * FROM BOARD WHERE BOARDNO=? AND STATUS='Y'
	</entry>
	<entry key="selectAttachment">
		SELECT * FROM ATTACHMENT WHERE BOARDNO=? AND STATUS='Y'
	</entry>
	<entry key="selectListbyId">
		SELECT * FROM(
			SELECT ROWNUM,S.* FROM(
				SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
				FROM BOARD B 
				JOIN CATEGORY USING(CATEGORYNO) 
				WHERE USERID=?
				AND B.STATUS='Y') S
			)
			WHERE "ROWNUM" BETWEEN ? AND ?
	</entry>
	<entry key="selectListbyCategory">
		SELECT * FROM(
			SELECT ROWNUM,S.* FROM(
				SELECT BOARDNO,
					CATEGORYNAME,
					TITLE,
					USERID,
					CREATEDATE,
					BOARDLIKE,
					COUNT 
				FROM BOARD B 
				JOIN CATEGORY USING(CATEGORYNO) 
				WHERE B.STATUS='Y') S
			)
			WHERE "ROWNUM" BETWEEN ? AND ?
			AND CATEGORYNAME=?
	</entry>
	<entry key="newPopList">
		SELECT * FROM(
			SELECT ROWNUM,BOARDNO,TITLE FROM(
				SELECT *
				FROM BOARD B
				JOIN CATEGORY USING (CATEGORYNO)
				WHERE B.STATUS='Y
				ORDER BY CREATEDATE DESC)
				)
				WHERE "ROWNUM" BETWEEN 1 AND 5
				AND CATEGORYNAME=?
		)
	</entry>
	<entry key="bestPopList">
		SELECT * FROM(
			SELECT ROWNUM,BOARDNO,TITLE FROM(
				SELECT *
				FROM BOARD B
				JOIN CATEGORY USING (CATEGORYNO)
				WHERE B.STATUS='Y
				ORDER BY BOARDLIKE DESC)
				)
				WHERE "ROWNUM" BETWEEN 1 AND 5
				AND CATEGORYNAME=?
		
	</entry>
	<entry key="bestContList">
		SELECT * FROM (
			SELECT ROWNUM,
				CONTENTSID,
				TITLE,
				POSTERPATH,
				RATE
			FROM (
				SELECT * 
				FROM CONTENTS C
				ORDER BY RATE DESC
				)	
			)
		WHERE "ROWNUM" BETWEEN 1 AND 5
	</entry>
	
</properties>