<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="DetailContents">
	SELECT *
	FROM CONTENTS
	WHERE CONTENTSID = ?
	</entry>
	
	<entry key="DetailContentsList">
	SELECT *
	FROM CONTENTS
	</entry>
	
	<entry key="selectContents">
	SELECT *
	FROM CONTENTS
	WHERE CONTENTSID = ?
	</entry>
	
	<entry key="notUsing">
	SELECT * FROM ( SELECT * FROM contents
				    ORDER BY RATE DESC)
    WHERE ROWNUM &lt;= 6
	</entry>
	
	<entry key ="BestContentsList">
	SELECT * FROM CONTENTS
	ORDER BY RATE DESC
	</entry>
	

	<entry key="ForReview">
    SELECT b.USERID, b.CONTENTSID, b.BOARDCONTENT, b.CREATEDATE, b.STATUS, b.BOARDLIKE, b.HATE
	FROM BOARD b
    WHERE CATEGORYNO=55
	ORDER BY b.CREATEDATE DESC
	</entry>
	
<!-- 	<entry key="ForReview"> -->
<!--     SELECT b.CONTENTSID, b.USERID, b.BOARDCONTENT, b.CREATEDATE, b.BOARDLIKE, b.HATE, b.STATUS -->
<!--     FROM BOARD b -->
<!--     JOIN CONTENTS c ON b.CONTENTSID = c.CONTENTSID -->
<!--     WHERE c.CONTENTSID = ? -->
<!-- 	</entry> -->

	
	<entry key="ForSearch">
	SELECT *
	FROM CONTENTS
	</entry>
	


    <!-- 검색 쿼리 추가 -->
	<entry key="searchContents">
    	SELECT CONTENTSID, TITLE, ENGLISHTITLE, OVERVIEW, POSTERPATH, RUNTIME, RELEASEDATE, DIRECTOR
    	FROM SEMIPRJ.CONTENTS
    	WHERE UPPER(TITLE) LIKE UPPER(?) OR UPPER(DIRECTOR) LIKE UPPER(?);
	</entry>
    
</properties>